RewriteEngine on 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^([^\.]+)$ $1.php [NC,L]



#RewriteRule ^add-module/([0-9]+) add-module.php?id=$1 [NC,L]

#404 - page not found
#500 - Internal Server Error
#403 - Forbidden
#400 - Bad request
#401 - Authorization Required
#RewriteEngine On
#ErrorDocument 404 /404.html
#ErrorDocument 500 /404.html
#ErrorDocument 403 /404.html
#ErrorDocument 400 /404.html
#ErrorDocument 401 /401.html

##ErrorDocument 404 /capthrone/error_page.php

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]